In [67]:
#import libraries
import pandas as pd
import numpy as np
import os

In [69]:
path = r'C:\Users\beaac\Desktop\Chocolate Bars'

In [71]:
 #importing flavors_of_cacao_data
df_flavors_original= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'flavors_of_cacao.csv'), index_col = False)

DATA CONSISTENCY CHECKS

In [74]:
df_flavors_original.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [76]:
#Standardize column names
df_flavors_original.columns= [col.replace('\n',' ').strip() for col in df_flavors_original.columns]

df_flavors_original.rename(columns={
    'Company (Maker-if Know)': 'Company',
    'Specific Bean Origin or Bar Name': 'Bar_Name',
    'Review Date': 'Review_Date',
    'Cocoa Percent': 'Cocoa_Percent',
    'Company Location': 'Location',
    'Bean Type': 'Bean_Type',
    'Broad Bean Origin': 'Bean_Origin'
}, inplace= True)

In [78]:
df_flavors_original.columns

Index(['Company  (Maker-if known)', 'Bar_Name', 'REF', 'Review_Date',
       'Cocoa_Percent', 'Location', 'Rating', 'Bean_Type', 'Bean_Origin'],
      dtype='object')

In [80]:
df_flavors_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company  (Maker-if known)  1795 non-null   object
 1   Bar_Name                   1795 non-null   object
 2   REF                        1795 non-null   int64
 3   Review_Date                1795 non-null   int64
 4   Cocoa_Percent              1795 non-null   object
 5   Location                   1795 non-null   object
 6   Rating                     1795 non-null   float64
 7   Bean_Type                  1794 non-null   object
 8   Bean_Origin                1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [82]:
# Convert CocoaPercent to Numeric value
df_flavors_original['Cocoa_Percent'] = df_flavors_original['Cocoa_Percent'].str.replace('%', '').astype(float)

In [84]:
# Finding Missing Values
df_flavors_original.isnull().sum()

Company  (Maker-if known)    0
Bar_Name                     0
REF                          0
Review_Date                  0
Cocoa_Percent                0
Location                     0
Rating                       0
Bean_Type                    1
Bean_Origin                  1
dtype: int64

In [86]:
# new data frame for null value in Bean Type
df_nan = df_flavors_original[df_flavors_original['Bean_Type'].isnull()== True]

In [88]:
df_nan

,Company (Maker-if known),Bar_Name,REF,Review_Date,Cocoa_Percent,Location,Rating,Bean_Type,Bean_Origin
1544,Soma,"Three Amigos(Chuao, Wild Bolivia, D.R.)",676,2011,70.0,Canada,4.0,NaN,"Ven, Bolivia, D.R."

In [90]:
# New data frame for null value in Bean origin
df_nan2 = df_flavors_original[df_flavors_original['Bean_Origin'].isnull()==True]

In [92]:
df_nan2

,Company (Maker-if known),Bar_Name,REF,Review_Date,Cocoa_Percent,Location,Rating,Bean_Type,Bean_Origin
1072,Mast Brothers,Madagascar,999,2012,72.0,U.S.A.,2.5,Trinitario,NaN

In [94]:
# I will keep the rows intact and just change the nan values to 'Unknow'
df_flavors_original.fillna({'Bean_Type': 'Unknown', 'Bean_Origin': 'Unknown'}, inplace=True)

In [96]:
# Check for duplicates
df_dups = df_flavors_original[df_flavors_original.duplicated()]

In [98]:
df_dups

Empty DataFrame
Columns: [Company  (Maker-if known), Bar_Name, REF, Review_Date, Cocoa_Percent, Location, Rating, Bean_Type, Bean_Origin]
Index: []

In [100]:

#Basic Descriptive Statistics
df_flavors_original.describe()

               REF  Review_Date  Cocoa_Percent       Rating
count  1795.000000  1795.000000    1795.000000  1795.000000
mean   1035.904735  2012.325348      71.698329     3.185933
std     552.886365     2.927210       6.323118     0.478062
min       5.000000  2006.000000      42.000000     1.000000
25%     576.000000  2010.000000      70.000000     2.875000
50%    1069.000000  2013.000000      70.000000     3.250000
75%    1502.000000  2015.000000      75.000000     3.500000
max    1952.000000  2017.000000     100.000000     5.000000

In [102]:
# create a new DataFrame for your cleaned data
df_clean = df_flavors_original.copy()

In [104]:


df_clean.to_csv(os.path.join(path,'02 Data','Prepared Data','Flavors_Of_Cacao_cleaned.cvs'))